@import "tailwindcss";

:root {
  /* Define fallback values for CSS variables */
  --background: #0c021f;
  --sunColor: #ffdd00;
  --mercuryColor: #b0b0b0;
  --venusColor: #e3c16f;
  --earthColor: #2a7de1;
  --marsColor: #d14a28;
  --jupiterColor: #d9a066;
  --saturnColor: #f5d76e;
  --uranusColor: #6fc2d0;
  --neptuneColor: #3b6bd6;
  --lightColor: #ffffff;
  --textColorWebpage: #ffffff;
  --textColorBillboards: #ffcc00;
  --ellipseColor: #888888;
}

html,
body,
#root {
  height: 100%;
  margin: unset;
  background: var(--background);
}

@theme {
  --color-sun: var(--sunColor);
  --color-mercury: var(--mercuryColor);
  --color-venus: var(--venusColor);
  --color-earth: var(--earthColor);
  --color-mars: var(--marsColor);
  --color-jupiter: var(--jupiterColor);
  --color-saturn: var(--saturnColor);
  --color-uranus: var(--uranusColor);
  --color-neptune: var(--neptuneColor);
  --color-light: var(--lightColor);
  --color-webpage: var(--textColorWebpage);
  --color-billboards: var(--textColorBillboards);
  --color-ellipse: var(--ellipseColor);
}
